.site-footer {
  position: relative;
  padding: 1em;
  font-family: $font_sans;
  color: #fff;
  background-color: $color__skin;
  text-align: center;

  @media screen and (min-width: $query_small) {
    padding: 1em 2em;
  }
}

.social-menu {
  ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 0;
    padding: 0;

    a {
      display: block;
      padding: .5em;
      color: white;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
